<footer class="gov-footer">
  <div class="gov-footer-inner">
    <!-- Dirección -->
    <div class="footer-block">
      <div class="footer-title">
        <i class="bi bi-geo-alt-fill"></i>
        Dirección
      </div>
      <div class="footer-text">
        Caballero N° 860 entre Manuel Domínguez y Fulgencio R. Moreno<br />
        Asunción, Paraguay
      </div>
    </div>

    <!-- Correo -->
    <div class="footer-block">
      <div class="footer-title">
        <i class="bi bi-envelope-fill"></i>
        Correo electrónico
      </div>
      <div class="footer-text">
        <a href="mailto:atencion_sociedades&#64;mef.gov.py"> atencion_sociedades&#64;mef.gov.py </a>
      </div>
    </div>
  </div>

  <!-- Línea inferior -->
  <div class="gov-footer-bottom">© {{ currentYear }} Ministerio de Economía y Finanzas | Portal DGPEJBF</div>
</footer>
