<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Activacion de usuario DGPEJBF-PORTAL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p>Hola, <span th:text="#{email.activation.greeting(${user.login})}"></span></p>
    <p>
      Desde la Dirección General de Personas y Estructuras Jurídicas y de Beneficiarios Finales le informamos que ha sido creado su
      credencial de acceso (clave), ingrese al módulo al siguiente link:
    </p>
    <p>
      <a th:href="@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|}">Activar cuenta</a>
    </p>
    <p>
      <span>Saludos, </span>
      <br />
      <em>Departamento de informática.-</em>
    </p>
  </body>
</html>
