<div class="home-container text-center mt-5">
  <h1 class="display-6 fw-bold text-primary">¡BIENVENIDOS, AL PORTAL DE LA DGPEJBF!</h1>

  <!-- Cuadro informativo -->
  <div class="info-panel card shadow-sm mb-5 mx-auto">
    <div class="card-body">
      <p class="mb-3">
        Esta plataforma digital contiene información disponible de los
        <strong>Registros Administrativos</strong> correspondientes a las personas y estructuras jurídicas que operan en la República del
        Paraguay, conforme a la <strong>Ley N° 6446/2019</strong>.
      </p>

      <p class="mb-4">
        Los datos se publican en formatos abiertos y estandarizados con el fin de promover la transparencia corporativa y la participación
        ciudadana.
      </p>

      <h5 class="text-center fw-bold mb-3 text-primary">¿Qué datos podemos encontrar?</h5>

      <ul class="text-start ms-4">
        <li>
          <strong>Listado de Personas o Estructuras Jurídicas (P.E.J.)</strong> que realizaron su comunicación en los registros
          administrativos.
        </li>
      </ul>
    </div>
  </div>
</div>
